---
import Layout from '../layouts/Layout.astro';
---

<Layout title='404'>
  <div class='wrapper'>
    <h1>404 upsss something is wrong</h1>
  </div>
</Layout>

<style>
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
