<nav>
  <ul>
    <li><a href='/'>pocetna</a></li>
    <li><a href='/about'>about</a></li>
  </ul>
</nav>

<style>
  nav {
    background-color: black;
  }
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 2rem;
    padding: 10px 20px;
  }
  li {
  }
  a {
    color: aquamarine;
    text-decoration: none;
    text-transform: uppercase;
  }
</style>
